{% extends "SBPlatformBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} Suppression d'une annonce
{% endblock %}

{% block body %}
    <h2>Supprimer une annonce</h2>

    <p>
        Etes-vous certain de vouloir supprimer l'annonce "{{ advert.title }}" ?
    </p>
    <form method="post" action="{{ path('sb_platform_delete', {'id': advert.id }) }}" >
        <a href="{{ path('sb_platform_view', {'id': advert.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'annonce
        </a>
        {# Ici j'ai écrit le bouton de soumission à la main #}
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        {# Ceci va générer le champ CSRF #}
        {{ form_rest(form) }}

    </form>
{% endblock %}