<h3>Formulaire d'annonce</h3>

{# On laisse vide la vue pour l'instant, on la comblera plus tard
   lorsqu'on saura afficher un formulaire. #}
<div class="well">
    {{ form_start(form, {'attr': {'class' : 'form-horizontal'}}) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.title, "Titre de l'annonce", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        <div class="col-sm-4">
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        </div>
        {{ form_errors(form.title) }}
    </div>

    <div class="form-group">
        {{ form_label(form.content, "Contenu de l'annonce", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        <div class="col-sm-4">
            {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
        </div>
        {{ form_errors(form.content) }}
    </div>

    {% if form.date is defined %}
    <div class="form-group">
        {{ form_label(form.date, "Date", {'label_attr': {'class' : 'col-sm-3 control-label'}}) }}
        <div class="col-sm-4">
            {{ form_widget(form.date, { 'attr': {'class': 'datepicker'}}) }}
        </div>

        {{ form_errors(form.date) }}
    </div>
    {% endif %}

    <div class="form-group">
        {{ form_label(form.author, "Auteur", {'label_attr':{'class' : 'col-sm-3 control-label'}}) }}
        <div class="col-sm-4">
            {{ form_widget(form.author, {'attr':{'class': 'form-control'}}) }}
        </div>
        {{ form_errors(form.author) }}
    </div>

    {% if form.published is defined %}
    <div class="form-group">
        {{ form_label(form.published, "Published", {'label_attr':{'class' : 'col-sm-3 control-label'}}) }}
        <div class="col-sm-4">
            {{ form_widget(form.published, {'attr': {'class': 'form-control'}}) }}
        </div>
        {{ form_errors(form.published) }}
    </div>
    {% endif %}

    <div class="form-group">
        {{ form_label(form.image.file, "Image", {'label_attr':{'class' : 'col-sm-3 control-label'}}) }}
        <div class="col-sm-4">
            {{ form_widget(form.image.file, {'attr' : {'class': 'form-control'}}) }}
        </div>
        {{ form_errors(form.image.file) }}
    </div>

    <div class="form-group">
        {{ form_label(form.categories, "Catégories", {'label_attr':{'class' : 'col-sm-3 control-label'}}) }}
        <div class="col-sm-4">
            {{ form_widget(form.categories, {'attr' : {'class': 'form-control'}}) }}
        </div>
        {{ form_errors(form.categories) }}
    </div>

    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>


